n8n-pm-workflow/workflow.json
{
  "name": "PM-需求评估-工时评估-流水线",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm-requirement",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook 接收需求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "pm-requirement"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "project_id",
              "value": "={{ $json.body.project_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "title",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "description",
              "value": "={{ $json.body.description }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "reporter",
              "value": "={{ $json.body.reporter }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-parse",
      "name": "解析需求字段",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "jsType": "javaScript",
        "jsCode": "// 项目 -> Agent 配置映射。生产环境请改为读飞书多维表格 / 数据库。\n// 通过 project_id 取出该项目专属的评估标准、工时基准、模型与飞书群。\nconst CONFIG = {\n  '1001': {\n    project_name: '电商App',\n    eval_system: '你是「电商App」的资深产品评审专家。重点关注转化率影响、支付链路合规、用户体验。',\n    effort_system: '你是「电商App」的项目管理专家。技术栈 Vue+SpringBoot，估时含前端/后端/测试/联调，复杂度基准 S=1,M=3,L=8 人天。',\n    model: 'qwen-max',\n    feishu_webhook: 'https://open.feishu.cn/open-apis/bot/v2/hook/REPLACE_A',\n    gitlab_project: '1001'\n  },\n  '1002': {\n    project_name: '数据中台',\n    eval_system: '你是「数据中台」的资深产品评审专家。重点关注数据合规、口径一致性、上下游依赖。',\n    effort_system: '你是「数据中台」的项目管理专家。估时含数仓建模/ETL/校验，复杂度基准 S=2,M=5,L=13 人天。',\n    model: 'deepseek-chat',\n    feishu_webhook: 'https://open.feishu.cn/open-apis/bot/v2/hook/REPLACE_B',\n    gitlab_project: '1002'\n  }\n};\n\nconst pid = String($json.project_id || '').trim();\nconst cfg = CONFIG[pid];\nif (!cfg) {\n  throw new Error(`未配置的 project_id: ${pid}，请在配置表中补充`);\n}\nreturn [{ json: { ...$json, ...cfg } }];"
      },
      "id": "node-config",
      "name": "读项目配置",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "model": "={{ $json.model }}",
        "options": {}
      },
      "id": "node-eval-model",
      "name": "评估模型",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [900, 520],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_CRED_LLM",
          "name": "私有化 LLM (base_url 指向内网)"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"passed\": true,\n  \"score\": 82,\n  \"dimensions\": {\"清晰度\": 85, \"可行性\": 80, \"价值\": 80},\n  \"missing\": [\"未说明目标用户量级\"],\n  \"reason\": \"需求价值明确，验收标准需补充\"\n}"
      },
      "id": "node-eval-parser",
      "name": "评估输出解析",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1080, 520]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=需求标题：{{ $json.title }}\n需求描述：{{ $json.description }}\n请按本项目标准评估，评分>=70 且无致命缺失项才 passed=true。",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.eval_system }}\n严格按给定 JSON 结构输出，所有必须补充项放入 missing 数组。"
        }
      },
      "id": "node-eval-agent",
      "name": "需求评估 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [920, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.output.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "评估是否通过",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 320]
    },
    {
      "parameters": {
        "model": "={{ $('读项目配置').item.json.model }}",
        "options": {}
      },
      "id": "node-effort-model",
      "name": "工时模型",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1500, 420],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_CRED_LLM",
          "name": "私有化 LLM (base_url 指向内网)"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"total_person_days\": 12,\n  \"breakdown\": [{\"task\": \"前端\", \"days\": 4}],\n  \"risks\": [\"依赖外部支付接口\"],\n  \"suggested_sprint\": \"可排入下个迭代\"\n}"
      },
      "id": "node-effort-parser",
      "name": "工时输出解析",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1680, 420]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=需求已通过评估。\n标题：{{ $('读项目配置').item.json.title }}\n描述：{{ $('读项目配置').item.json.description }}\n评估结论：{{ JSON.stringify($json.output) }}\n请拆解任务并估算人天。",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('读项目配置').item.json.effort_system }}\n考虑前端/后端/测试/联调/风险缓冲。严格按给定 JSON 结构输出。"
        }
      },
      "id": "node-effort-agent",
      "name": "工时评估 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1520, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('读项目配置').item.json.feishu_webhook }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\"title\": {\"tag\": \"plain_text\", \"content\": \"❌ 需求评估未通过\"}, \"template\": \"red\"},\n    \"elements\": [\n      {\"tag\": \"div\", \"text\": {\"tag\": \"lark_md\", \"content\": \"**需求：**{{ $('读项目配置').item.json.title }}\\n**驳回理由：**{{ $json.output.reason }}\"}},\n      {\"tag\": \"div\", \"text\": {\"tag\": \"lark_md\", \"content\": \"**需补充：**{{ ($json.output.missing || []).join('、') }}\"}}\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-feishu-reject",
      "name": "飞书通知-驳回",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 520]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('读项目配置').item.json.gitlab_project }}",
        "body": "=🤖 自动评估完成\\n评估评分：通过\\n预估工时：{{ $json.output.total_person_days }} 人天\\n排期建议：{{ $json.output.suggested_sprint }}"
      },
      "id": "node-gitlab",
      "name": "GitLab 回写评论",
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [1800, 220],
      "credentials": {
        "gitlabApi": {
          "id": "REPLACE_CRED_GITLAB",
          "name": "私有 GitLab"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('读项目配置').item.json.feishu_webhook }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\"title\": {\"tag\": \"plain_text\", \"content\": \"✅ 需求已评估，待确认工时\"}, \"template\": \"green\"},\n    \"elements\": [\n      {\"tag\": \"div\", \"text\": {\"tag\": \"lark_md\", \"content\": \"**需求：**{{ $('读项目配置').item.json.title }}\\n**预估工时：**{{ $json.output.total_person_days }} 人天\\n**排期：**{{ $json.output.suggested_sprint }}\"}},\n      {\"tag\": \"div\", \"text\": {\"tag\": \"lark_md\", \"content\": \"**风险：**{{ ($json.output.risks || []).join('、') }}\"}}\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-feishu-pass",
      "name": "飞书通知-工时卡片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 220]
    }
  ],
  "connections": {
    "Webhook 接收需求": {
      "main": [[{ "node": "解析需求字段", "type": "main", "index": 0 }]]
    },
    "解析需求字段": {
      "main": [[{ "node": "读项目配置", "type": "main", "index": 0 }]]
    },
    "读项目配置": {
      "main": [[{ "node": "需求评估 Agent", "type": "main", "index": 0 }]]
    },
    "评估模型": {
      "ai_languageModel": [[{ "node": "需求评估 Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "评估输出解析": {
      "ai_outputParser": [[{ "node": "需求评估 Agent", "type": "ai_outputParser", "index": 0 }]]
    },
    "需求评估 Agent": {
      "main": [[{ "node": "评估是否通过", "type": "main", "index": 0 }]]
    },
    "评估是否通过": {
      "main": [
        [{ "node": "工时评估 Agent", "type": "main", "index": 0 }],
        [{ "node": "飞书通知-驳回", "type": "main", "index": 0 }]
      ]
    },
    "工时模型": {
      "ai_languageModel": [[{ "node": "工时评估 Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "工时输出解析": {
      "ai_outputParser": [[{ "node": "工时评估 Agent", "type": "ai_outputParser", "index": 0 }]]
    },
    "工时评估 Agent": {
      "main": [[{ "node": "GitLab 回写评论", "type": "main", "index": 0 }]]
    },
    "GitLab 回写评论": {
      "main": [[{ "node": "飞书通知-工时卡片", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
